html {
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.tile {
  width: 50%;
  float: left;
  position: relative;
  border: 2px solid #fff;
  cursor: pointer;
}

.tile img {
  width: 100%;
  height: 100%;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'old-timey\'><feColorMatrix type=\'matrix\' values=\'0.14 0.45 0.05 0 0 0.12 0.39 0.04 0 0 0.08 0.28 0.03 0 0 0 0 0 1 0\'/></filter></svg>#old-timey");
  -webkit-filter: sepia(1);
  -webkit-filter: sepia(100%);
  -moz-filter: sepia(100%);
  -ms-filter: sepia(100%);
  -o-filter: sepia(100%);
  filter: sepia(100%);
}

.tile:hover img {
  filter: none;
  -webkit-filter: sepia(0);
  -moz-filter: sepia(0);
  -ms-filter: sepia(0);
  -o-filter: sepia(0);
  filter: sepia(0);
}

.tile .caption {
  position: absolute;
  width: 80%;
  z-index: 100;
  top: 43%;
  left: 10%;
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
  color: #fff !important;
  text-transform: uppercase;
  font-weight: bold;
}

@media (max-width: 600px) {

.tile {
  width: 100%;
}

}
